@font-face {
	font-family: 'Origin Tech';
	src: url('./fonts/origin-tech/origin-tech.ttf') format('truetype'),
		 url('./fonts/origin-tech/origin-tech.otf') format('opentype'),
		 url('./fonts/origin-tech/origin-tech.woff') format('woff'),
		 url('./fonts/origin-tech/origin-tech.woff2') format('woff2');
}

#paige-breadcrumbs,
#paige-reading-time,
.paige-date,
.paige-date-header,
.paige-keywords,
.paige-reading-time,
.paige-series,
.paige-summary {
    display: none;
}

/* #paige-authors,
#paige-breadcrumbs,
#paige-credit,
#paige-date,
#paige-keywords,
#paige-reading-time,
#paige-series,
#paige-toc,
.paige-authors,
.paige-date,
.paige-date-header,
.paige-keywords,
.paige-reading-time,
.paige-series,
.paige-summary {
    display: none;
} */
