@font-face {
	font-family: 'Origin Tech';
	src: url('./fonts/origin-tech/origin-tech.ttf') format('truetype'),
		 url('./fonts/origin-tech/origin-tech.otf') format('opentype'),
		 url('./fonts/origin-tech/origin-tech.woff') format('woff'),
		 url('./fonts/origin-tech/origin-tech.woff2') format('woff2');
}

#paige-breadcrumbs,
#paige-reading-time,
.paige-keywords,
.paige-reading-time,
.paige-series,
.paige-summary {
    display: none;
}
