{{ $content := .Inner | markdownify }}
{{ $alt := .Get "alt" }}
{{ $breakpoints := .Get "breakpoints" }}
{{ $class := .Get "class" }}
{{ $densities := .Get "densities" }}
{{ $fetchpriority := .Get "fetchpriority" }}
{{ $link := .Get "link" }}
{{ $linked := .Get "linked" }}
{{ $loading := .Get "loading" }}
{{ $process := .Get "process" }}
{{ $src := .Get 0 | default (.Get "src") }}
{{ $srcset := .Get "srcset" }}
{{ $style := .Get "style" }}
{{ $title := .Get "title" }}
{{ $side := .Get "side" }}
{{ $split := .Get "split" }}

<div style="display: table; width: 100%; table-layout: fixed;">
    {{ if eq $side "right" }}
        <div style="display: table-cell; padding-right: 1em; width: auto;">
            {{ $content }}
        </div>
    {{ end }}
    <div style="display: table-cell; vertical-align: middle; width: {{ $split }}%;">
        {{ partial "paige/image.html" (dict
        "alt" $alt
        "breakpoints" $breakpoints
        "class" $class
        "densities" $densities
        "fetchpriority" $fetchpriority
        "height" nil
        "link" $link
        "linked" $linked
        "loading" $loading
        "maxheight" nil
        "maxwidth" nil
        "page" .Page
        "process" $process
        "sizes" nil
        "src" $src
        "srcset" $srcset
        "style" nil
        "title" $title
        "width" "100%"
        ) }}
    </div>
    {{ if eq $side "left" }}
        <div style="display: table-cell; width: auto; padding-left: 1em;">
            {{ $content }}
        </div>
    {{ end }}
</div>